#outline {
    padding: 10px;
    outline-width: 0.5px;
    outline-style: solid;
    outline-color: #ebe9e1;
    border-radius: 50%;
    position: absolute;
    margin: 100px 0px 0px 36%;
    transform: scale(1.1);
}

#Email_or_mobile_phone {
    text-align: left;
}

#Password {
    text-align: left;
}

#paypal_logo{
    width:  129px;
    height: 64px;
    position: relative;
    left: 20%;
    bottom: 10px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid rgb(155, 148, 148);
    box-sizing: border-box;
    border-radius: 5px;
  }

#login_button {
    border: 2px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 10px 2px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #346bc2;
    position: relative;
    left: 26%;
}

#sign_up {
    border: 2px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 10px 2px;
    cursor: pointer;
    background-color: #9ba1aa;
    position: relative;
    left: 26%;
    border-radius: 2px;
}

#trouble {
    font-size: small;
    position: relative;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(77, 112, 224);
    left: 13%;
}

#login_button:hover{
    /* transform: scale(1.01); */
    filter: brightness(90%);
}

#trouble:hover{
    color: red;
}
